html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

header {
  background-color: #465b75;
  max-width: auto;
  height: 250px;
}

.navbar a {
  color: #808080;
  text-decoration: none;
}

header h1 {
  color: white;
}

body {
  background-color: #dee9f7;
}

main {
  display: flex;
  justify-content: space-around
}

.contenido {
  background-color: #ffffff;
  border: 2px solid #6a6f75;
}

.principal {
  display: flex;
}

.principal a {
  color: #000000;
  text-decoration: none;
}

.boton {
  display: flex;
  flex-direction: column;
}

.card {
  display: flex;
  flex-direction: column;
}

.card span {
  font-weight: bold;
  color: #6A6F75;
}

.precio {
  color: red;
}

footer {
  background-color: #333333;
  color: #ffffff;
  display: flex;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

.elemento {
    flex-direction: column;
}
